.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.success {
    color: green;
    font-size: 14px;
    margin-top: 5px;
}

.body-center {
    background: #00000a;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--size);
}
.body-center .container {
    background: #fff;
    border: 10px solid #fff;
    border-radius: vh;
    padding: 20px;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.name-override {
    color: #00000a;
}

/* Estilização do label */
.label-name {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

/* Estilização do input */
.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilização do input quando em foco */
.form-control .focus {
    border-color: #00b300;
    box-shadow: 0 0 5px rgba(0, 179, 0, 0.5);
}

